/* App.css */
.background {
    background-image: url('../public/images\ \(18\).jpg'); /* הנתיב לתמונה בתיקיית public */
    background-size: cover;
    background-position: center;
    height: 100vh; /* או גובה שיתאים לך */
    width: 100vw;  /* או רוחב שיתאים לך */
    display: flex;
    flex-direction: column;
  }
  
  .header {
    /* הוסף סגנון נוסף כאן אם צריך */
  }
  
  .main-content {
    /* הוסף סגנון נוסף כאן אם צריך */
  }
  